body ::selection {
    background-color: rgb(81, 11, 146);
    color: aliceblue;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

a {
    text-decoration: none;
    color: green;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-top: 2rem
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry a:hover {
    color: blue;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.post-entry .details{
    width:95%;
    padding: 20px;
    margin: 0  auto;
    background-color: aquamarine;
    border: 1px solid aqua;
    border-radius: 5px;
}